
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows any user who is authenticated with Firebase to read and 
    // write to all collections in the database. This is a common and suitable
    // rule for internal applications where all users are trusted.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
