
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow reads and writes on all files for any authenticated user.
    // This allows users to upload and view files in the 'Depo' section.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
